.forgotPassword{
    background-color:whitesmoke;
    border-radius: 10px;
    padding: 2rem;
    width: 40%;
    max-height: 60vh;
    margin: auto;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.2);
}

.forgotPassword-body{
    background: linear-gradient(to bottom, #2ecc71, #3498db);
    height: 100vh;
    padding-top: 5rem;
}